body{
    position: relative;
    padding: 25px;
    background-color: rgb(224, 240, 255);
    color: #000;
    font-size: 25px;
}
.btn{
    position: absolute;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 20px;
    background-color: rgb(255, 217, 252);
    left: 600px;
    top: 10px;
}
.sideNav {
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: rgb(187, 187, 187);
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sideNav a:hover {
    color: #994848;
}
.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: .5s;
    padding: 16px;
} 
a{
    text-decoration: none;
    margin: 100px;
}
.p{
    margin-left: 100px;
}
.face{
    width: 100px;
    position: absolute;
    left: 400px;
    top: 170px;
}
.insta{
    width: 100px;
    position: absolute;
    left: 450px;
    top: 300px;
}
.snap{
    width: 100px;
    position: absolute;
    left: 230px;
    top: 370px;
    z-index: -1;
}
.bar1{
    margin-top: 0px;
}